{% extends 'home/base.html' %}

{% block title %}Dobrodošli{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <p><strong>Dobrodošao/la {{ request.user.username }}</strong><p>
    {% endif %}

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <div class="pb-6 bg-gray-100 rounded-xl">
            <h2 class="mb-12 text-2xl text-center"><b>Kategorije</b></h2>
    
            <div class="grid grid-cols-3 gap-3">
                {% for category in categories %}
                    <div>
                        <a href="{% url 'item:items' %}?category={{ category.id }}">
                            <div class="p-6 bg-white rounded-xl">
                                <h2 class="text-2xl">{{ category.naziv }}</h2>
                                <p class="text-gray-500">{{ category.items.count }} proizvoda</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <h2 class="mb-12 text-2xl text-center"><b>Najnovije u ponudi</b></h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
                <div class="hover:scale-105 ease-in-out duration-300">
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{ item.slika.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ item.naziv }}</h2>
                            <p class="text-gray-500">Cijena: EUR {{ item.cijena }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; margin: 0; height: 10vh; font-size: x-large;"><strong>Potražite nas i uživo</strong></div>
    <div style="display: flex; justify-content: center; align-items: center; margin: 0; height: 40vh;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.57536538728!2d18.80409950641796!3d45.28999258289217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475c8ae094d7cb09%3A0x711eb78481757a70!2sTr%C5%BEnica%20Vinkovci!5e0!3m2!1sen!2shr!4v1708518563607!5m2!1sen!2shr" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}