{% extends 'home/base.html' %}

{% block title %}Ponuda{% endblock %}

{% block content %}
    <div class="p-3 grid grid-cols-4 gap-4 bg-gray-100 rounded-xl">
        <div class="col-span-1 px-2 py-2">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Pregledajte ponudu...">

                <button id="inb" class="mt-2 py-4 px-8 text-lg text-white rounded-xl">Pretraži</button>
            </form>

            <hr class="my-6">

            <p class="font-semibold"><b>Kategorije</b></p>

            <ul>
                {% for category in categories %}
                    <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.naziv }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr class="my-6">

            <ul>
                <li>
                    <a href="{% url 'item:items' %}" class="mt-2 py-4 px-8 inline-block text-lg rounded-xl text-white bg-red-500 hover:bg-red-700">Ukloni filter</a>
                </li>
            </ul>
        </div>

        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3 py-3 px-3">
                {% for item in items %}
                    <div class="hover:scale-105 ease-in-out duration-300">
                        <a href="{% url 'item:detail' item.id %}">
                            <div>
                                <img src="{{ item.slika.url }}" class="rounded-t-xl">
                            </div>
    
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ item.naziv }}</h2>
                                <p class="text-gray-500">Cijena: EUR {{ item.cijena }}</p>
                                <p class="text-gray-200">PDV uklj.</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}